body{
    display: flex;
    background-color: white;
    color: #6c6c6c;
    flex-direction: column;
    padding-left: 40px;
    justify-items: center;
}

.container{
    display: grid;
    background-color: rgb(226, 226, 226);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 183px;
    gap: 3px;
    color: rgb(226, 226, 226);
}


.container div{
    width: 56px;
    height: 60px;
    text-align: center;
    font-size: 52px;
    border: solid rgb(236, 236, 236) 1px;
}




